html{
    position: relative;
    min-height: 100%;
}



/*background image*/
body{
    font-family: Arvo , serif;
    
    background: url("images/notes.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
/*jumbotron*/
.jumbotron{
    background-color: transparent;
    text-align: center;
    letter-spacing: 2.5px;
    padding: 10px;
    margin-top: 150px;
}
/* buttons   */
    .signup{
      margin-top: 50px;  
    }
.brown{
    background-color: rgba(188,135,45,0.8);
    border: 0px;
}
.brown:hover{
    background-color: rgb(188,135,45);
}
/*footer*/
.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding-top: 10px;
}


/*navigation bar*/
.navbar-custom, .footer {
  background-color: #c78a2f;
  border-color: #ac7729;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d6a153), to(#c78a2f));
  background-image: -webkit-linear-gradient(top, #d6a153, 0%, #c78a2f, 100%);
  background-image: -moz-linear-gradient(top, #d6a153 0%, #c78a2f 100%);
  background-image: linear-gradient(to bottom, #d6a153 0%, #c78a2f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6a153', endColorstr='#ffc78a2f', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #ac7729;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #ac7729;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #ac7729;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ac7729), to(#d09338));
  background-image: -webkit-linear-gradient(top, #ac7729, 0%, #d09338, 100%);
  background-image: -moz-linear-gradient(top, #ac7729 0%, #d09338 100%);
  background-image: linear-gradient(to bottom, #ac7729 0%, #d09338 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac7729', endColorstr='#ffd09338', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #aa7628;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #ac7729;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #ac7729;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}